.container_nav{
    background-color: #02A97F;
    padding:0 1rem;
}
header{
   
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 0 2rem;
    h1{
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.5rem;
    }
    button{
        padding: .8rem 1.2rem;
    }
   
}
.div_starter_btn{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.div_starter_btn #open_btn{
    background-color: transparent;
    border: 1px solid #83D5C0;
    border-radius: 5px;
    color: #FFF;
    font-size: .8rem;
}
.div_starter_btn #open_btn:hover{
    background-color: #83D5C0;
    color: white;
    cursor: pointer;
    transition: .3s ease-in;
}
.div_starter_btn #signup_btn{
    background-color: blue;
    color: #FFF;
    border: .5px solid rgb(29, 29, 231);
    border-radius: 5px;
    padding: 2px;
    padding: 0 .9rem;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
}
.div_starter_btn #signup_btn:hover{
    background-color: rgb(29, 29, 231);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #3366ff; 
    filter: brightness(1.2);
    
}
.bottom_line{
    border: 1px solid #83D5C0;
    margin: 0 2rem 2rem 2rem;
}
.handle_container{
    display: flex;
    margin-left: 5rem; 
    position: relative;
}

.quick_access{
color: #FFF;
width: 60%;

}
.content_description{
    margin: .3rem;
}
.content_description p{
    margin: .3rem;
    font-size: 1.1rem;
}
h2{
    font-size: 2rem;
}
.handle_to_search{
width: 100%;
margin: 12px 0;
}
.input_search{
    width: 100%;
    position: relative;
}
.input_search input{
    width: 80%;
    height: 50px;
    border: 1px solid #83D5C0;
    border-radius: .3rem;
    margin-bottom: .6rem;
}
.input_search button{
    position: absolute;
    top: 32%;
    left: 65%;
    background-color: #000AFF; 
    border: .5px solid rgb(29, 29, 231);
    color: #FFF;
    padding: .4rem;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
}
.input_search button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #3366ff; /* Tom de azul mais suave */
    filter: brightness(1.2); /* Brilho */
}
.btn_quick_search{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    
}
.btn_quick_search button{
    background-color: transparent;
    border: 1px solid #83D5C0;
    border-radius: 5px;
    padding: .75rem 3rem;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: .4rem;
}
.btn_quick_search button:hover{
    background-color: #83D5C0;
    color: white;
    cursor: pointer;
    transition: .3s ease-in;
}
.bisc_img {
    width: 40%;
    z-index: 999;
    position: relative;
}
.bisc_img > img{
 
    max-width: 70%;
    height: 100%;
    
}
.rounded_white{
    border-radius: 50%;
    background-color: #FFF;
    width: 310px;
    height: 310px;
    position: absolute;
    left: 62%;
    top: 30%;
    z-index: 1;
}

